# .env

# ------------------------------------------------------------------
# APP
# ------------------------------------------------------------------
APP_NAME=APP_NAME
APP_CODE=APP_CODE
NODE_ENV=local
PORT=YOUR_PORT

# ------------------------------------------------------------------
# DB
# ------------------------------------------------------------------
DB_AUTOSYNC=false
DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_USER=YOUR_USER
DB_PASS=YOUR_PASSWORD
DB_NAME=YOUR_NAME

# ------------------------------------------------------------------
# REDIS
# ------------------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ------------------------------------------------------------------
# PII
# ------------------------------------------------------------------
CRYPTO_AES_KEY=CRYPTO_AES_KEY
CRYPTO_HMAC_KEY=CRYPTO_HMAC_KEY

# ------------------------------------------------------------------
# STATIC
# ------------------------------------------------------------------
API_KEY_STATIC=API_KEY_STATIC

# ------------------------------------------------------------------
# SECRET KEY
# ------------------------------------------------------------------
SECRET_KEY=SECRET_KEY

# ------------------------------------------------------------------
# RESET SECRET KEY
# ------------------------------------------------------------------
RESET_SECRET_KEY=RESET_SECRET_KEY

# ------------------------------------------------------------------
# NOTIFICATION
# ------------------------------------------------------------------
API_KEY_NOTIFICATION=API_KEY_NOTIFICATION
URL_NOTIFICATION=URL_NOTIFICATION

# ------------------------------------------------------------------
# HCIS
# ------------------------------------------------------------------
EAI_BASE_URL=EAI_BASE_URL
EAI_CLIENT_ID=EAI_CLIENT_ID
EAI_CLIENT_SECRET=EAI_CLIENT_SECRET


